<a href="https://colab.research.google.com/github/noahruiz416/NYC_RealEstate_Project/blob/main/EDA_NY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The purpose of this script is to use the CSV created in the ETL file, to explore NYC real estate data.

###The insights gained from this EDA will be used to help build out various statistical and machine learning models to help predict real estate "Sale Prices".

In [5]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
real_estate_ny = pd.read_csv("gdrive/My Drive/real_estate_NY_cloud.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
real_estate_ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413743 entries, 0 to 413742
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  413743 non-null  int64
 1   borough                     413743 non-null  object
 2   neighborhood                413743 non-null  object
 3   building_class_category     413743 non-null  object
 4   tax_class_as_of_final_roll  409843 non-null  object
 5   block                       413743 non-null  int64
 6   lot                         413743 non-null  int64
 7   building_class_as_of_final  409843 non-null  object
 8   address                     413743 non-null  object
 9   zip_code                    413717 non-null  float64
 10  residential_units           384890 non-null  float64
 11  commercial_units            384890 non-null  float64
 12  total_units                 384890 non-null  float64
 13  land_square_feet            309644 non-null  float64
 14  gross_square_feet           298514 non-null  float64
 15  year_built                  403369 non-null  float64
 16  tax_class_at_time_of_sale   413743 non-null  int64
 17  building_class_at_time_of   413743 non-null  object
 18  sale_price                  413743 non-null  float64
 19  sale_date                   413743 non-null  object
 20  latitude                    400887 non-null  float64
 21  longitude                   400887 non-null  float64
 22  community_board             400887 non-null  float64
 23  council_district            400887 non-null  float64
 24  census_tract                400887 non-null  float64
 25  bin                         399490 non-null  float64
 26  bbl                         399490 non-null  float64
 27  nta                         400887 non-null  object
 28  apartment_number            102586 non-null  object
dtypes: float64(15), int64(4), object(10)
memory usage: 91.5+ MB